/* Editor
-------------------------------------------------------------- */
.wp_themeSkin .mceSplitButton span.mce_bs_grid,
.wp_themeSkin span.mce_bs_tabs,
.wp_themeSkin .mceSplitButton span.mce_bs_collapse,
.wp_themeSkin .mceSplitButton span.mce_bs_alerts,
.wp_themeSkin .mceSplitButton span.mce_bs_wells,
.wp_themeSkin .mceSplitButton span.mce_bs_buttons,
.wp_themeSkin .mceSplitButton span.mce_bs_labels,
.wp_themeSkin .mceSplitButton span.mce_bs_tooltip,
.wp_themeSkin span.mce_bs_icons,
.wp_themeSkin span.mce_bs_lead {
    background: url(../images/dwicons.png) no-repeat !important;
}

.wp_themeSkin .mceSplitButton span.mce_bs_grid {
    background-position: -2px -19px !important;
}
.wp_themeSkin .mceSplitButton:hover span.mce_bs_grid,
.wp_themeSkin .mceSplitButtonSelected .mceSplitButton span.mce_bs_grid {
    background-position: -2px 0px !important;
}

.wp_themeSkin span.mce_bs_tabs {
    background-position: -23px -19px !important;
}
.wp_themeSkin span.mce_bs_tabs:hover {
    background-position: -23px 0px !important
}

.wp_themeSkin .mceSplitButton span.mce_bs_collapse {
    background-position: -44px -19px !important;
}
.wp_themeSkin .mceSplitButton:hover span.mce_bs_collapse,
.wp_themeSkin .mceSplitButtonSelected .mceSplitButton span.mce_bs_collapse  {
    background-position: -44px 0px !important;
}

.wp_themeSkin .mceSplitButton span.mce_bs_alerts {
    background-position: -65px -19px !important;
}
.wp_themeSkin .mceSplitButton:hover span.mce_bs_alerts,
.wp_themeSkin .mceSplitButtonSelected .mceSplitButton span.mce_bs_alerts  {
    background-position: -65px 0px !important;
}

.wp_themeSkin .mceSplitButton span.mce_bs_wells {
    background-position: -86px -19px !important;
}
.wp_themeSkin .mceSplitButton:hover span.mce_bs_wells,
.wp_themeSkin .mceSplitButtonSelected .mceSplitButton span.mce_bs_wells  {
    background-position: -86px 0 !important;
}

.wp_themeSkin .mceSplitButton span.mce_bs_buttons {
    background-position: -107px -19px !important;
}
.wp_themeSkin .mceSplitButton:hover span.mce_bs_buttons,
.wp_themeSkin .mceSplitButtonSelected .mceSplitButton span.mce_bs_buttons  {
    background-position: -107px 0px !important;
}

.wp_themeSkin .mceSplitButton span.mce_bs_labels {
    background-position: -191px -19px !important;
}
.wp_themeSkin .mceSplitButton:hover span.mce_bs_labels,
.wp_themeSkin .mceSplitButtonSelected .mceSplitButton span.mce_bs_labels  {
    background-position: -191px 0px !important;
}

.wp_themeSkin .mceSplitButton span.mce_bs_tooltip {
    background-position: -170px -19px !important;
}
.wp_themeSkin .mceSplitButton:hover span.mce_bs_tooltip,
.wp_themeSkin .mceSplitButtonSelected .mceSplitButton span.mce_bs_tooltip  {
    background-position: -170px 0px !important;
}

.wp_themeSkin span.mce_bs_icons {
    background-position: -128px -19px !important;
}
.wp_themeSkin span.mce_bs_icons:hover  {
    background-position: -128px 0 !important;
}

.wp_themeSkin span.mce_bs_lead {
    background-position: -149px -19px !important;
}
.wp_themeSkin span.mce_bs_lead:hover  {
    background-position: -149px 0 !important;
}

.mceMenu label {
    display: block;
    margin: 10px 0 0;
}

.mceMenu input[type=text],
.mceMenu select {
    clear: both;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    min-width: 160px;
    padding: 3px;
    margin:  5px 0 0;
}

/* Iframe
-------------------------------------------------------------- */
#bs-wrapper {
    padding: 20px;
}

#bs-wrapper .nav-tabs > .active > a > [class^="icon-"],
#bs-wrapper .nav-tabs > .active > a > [class*=" icon-"] {
    background-image: url("../images/glyphicons-halflings.png");
}

#bs-wrapper .nav-tabs .add-new {
    float: right;
}

#bs-wrapper .nav-tabs li a {
    outline: none;
}

#bs-wrapper .nav-tabs .delete-tab {
    margin: 0 0 0 5px;
    display: none;
    height: 16px;
    line-height: 12px;
    text-align: center;
    width: 16px;
}

#bs-wrapper .nav-tabs .active .delete-tab {
    display: inline-block;
}

#bs-wrapper .nav-tabs .active .delete-tab:hover {
    background: #bbb;
    border-radius: 20px;
    color: #fff;
}

#bs-wrapper .tab-content textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100% !important;
    height: 120px;
    min-height: 120px;
}

#bs-wrapper .tab-content input[type=text],
#bs-wrapper .tab-content select,
#bs-wrapper #bs-grid input[type=number] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    height: 30px;
}

#bs-wrapper #bs-grid form {
    margin: 0;
}

.show-grid.row {
    background-color: #F5F5F5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
    border: 1px solid #DDD;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    position: relative;
    padding: 44px 14px 14px;
}

.show-grid.row:before {
    background-color: #F5F5F5;
    border: 1px solid #DDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    content: "Row";
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    line-height: 2;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}

.show-grid {
    margin-bottom: 20px;
    margin-top: 10px;
}

.show-grid *{
    cursor: pointer;
}

.show-grid h5 {
    font-size: 92%;
    font-weight: normal;
    color: #999;
}

.show-grid [class*="col-"] {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 3px 3px 3px 3px;
    padding: 10px 10px 0;
    text-align: center;
}

.show-grid [class*="col-"]:hover {
    background: none repeat scroll 0 0 #DDDDDD;
    border-color: #ddd;
}

.show-grid .show-grid {
    margin-bottom: 0;
    margin-top: 0;
}

.show-grid .show-grid [class*="col-"] {
    background-color: #CCCCCC;
}

.show-grid [class*="col-"].active {
    background: #563D7C;
    color: #fff;
    border: 1px solid #fff;
}
